* {
  font-family: "Times New Roman", Times, serif;
}

body {
  overflow-x: hidden;
}

// Variables
$primary: #ffffff;
$secondary: #dddddd;
$success: #707070;
$info: #000000;
$warning: #868686;

// Spacers margin&padding
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 8.75,
);

// Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1800px,
);

// Navbar
$navbar-light-icon-color: $primary;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4  23h22'/></svg>");

// Off Canvas
$offcanvas-vertical-height: 20% !important;
$offcanvas-horizontal-width: 100vw;
$offcanvas-bg-color: silver;
