//  Form controls && Line-bottom on hover
.form-control::placeholder {
  color: $primary;
}

.translate-y {
  transform: translateY(4px);
}

.line-bottom:after {
  display: block;
  content: "";
  border-bottom: solid 1px $primary;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
  transition-delay: 100ms;
}
.line-bottom:hover:after {
  transform: scaleX(1);
}

// Navbar
.container-navbar {
  margin-top: 1.2rem;
}

@media (min-width: 992px) {
  .container-navbar {
    margin-bottom: 4.3rem;
  }
}

@media (max-width: 992px) {
  .navbar_logo {
    height: 33px;
  }
}

@media (min-width: 992px) {
  .navbar_logo {
    min-height: 38px;
  }
}

.navbar-toggler-icon {
  width: 1.875rem;
  height: 1.1875rem;
}

// Rotate readging glass on click
.rotate {
  transform: rotate(45deg);
  transition: transform 0.3 ease-in-out;
}

// Carousel
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  color: white;
  fill: white;
}

.carousel-control-prev,
.carousel-control-next {
  bottom: 8.5rem;
}

@media (min-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
    bottom: 11.5rem;
  }
}

.carousel-caption {
  transform: translateY(-40%);
  bottom: unset;
  left: unset;
  right: unset;
  min-height: 200px;
}

.text-caption,
.carousel-caption {
  min-height: 200px;
}

@media (min-width: 992px) {
  .carousel-control-prev,
  .carousel-control-next {
    justify-content: end;
    top: unset;
    opacity: 1;
    width: 40px;
    bottom: -3rem;
  }

  .carousel-caption {
    transform: translateY(-50%);
  }

  .carousel-control-prev {
    right: 3vw;
    left: unset;
    background-image: none;
    background-repeat: no-repeat;
  }

  .carousel-control-prev-icon {
    background-image: url("../assets/icons/arrow-left.svg");
  }

  .carousel-control-next-icon {
    background-image: url("../assets/icons/arrow-right.svg");
  }

  .carousel-inner {
    height: 60vh;
  }
}

@media (min-width: 1360px) {
  .carousel-control-prev {
    right: 50px;
  }
}

@media (max-width: 992px) {
  .carousel-caption {
    left: 9%;
  }
}

.hero,
.carousel-inner,
.carousel-item {
  max-height: 770px;
}

@media (min-width: 992px) {
  .hero {
    transform: translateY(-6rem);
    height: 54vh;
  }
}

@media (max-width: 576px) {
  .hero,
  .hero-container,
  .slider-image,
  .carousel-inner,
  .carousel-item {
    min-height: 350px;
  }

  .slider-image {
    max-height: 410px;
  }
}

.wch-100 {
  width: 100ch;
}

@media (min-width: 992px) {
  .slider-image {
    height: 43.631vh;
  }

  .max-wch {
    max-width: 40ch;
  }
}

@media (max-width: 992px) {
  .slider-image > img {
    height: 515px;
  }
}

@media (max-width: 558px) {
  .slider-image > img {
    height: unset;
  }
}
// End Carousel

//  Modal Pop Up

.modal {
  backdrop-filter: blur(20px);
  transition: unset;
  transform: unset;
  padding-bottom: 9rem;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 60%;
  }
}

.modal-content {
  top: 110vh;
  max-height: 110% !important;
  overflow: visible !important;
}

.modal-body {
  padding: 65px;
  overflow: visible !important;
}

.image-modal {
  height: 100%;
}

.modal.show .modal-dialog {
  transition: transform 0.25s ease-out;
  transition-delay: 0.3s;
  transform: translate(0, calc(-110vh + 110px));
}

@media (min-width: 1920px) {
  .modal-dialog {
    max-width: 1200px;
  }
}
// End Modal Pop Up
